<html>
	<head>
		<title>
			Vue Sandbox
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div id="heading" class="row">
				<h1>
					Vue.js &amp; Bootstrap.js Sandbox
				</h1>
			</div>
			<div id="app-1" class="row">
				<h2>
					Application 1
				</h2>
				Message = {{ message }}
			</div>
			<div id="app-2" class="row">
				<h2>
					Application 2
				</h2>
				<span v-bind:title="message">
					Hover your mouse over me for a few seconds
					to see my dynamically bound title!
				</span>
			</div>
			<div id="app-3" class="row">
				<h2>
					Application 3
				</h2>
				<p v-if="seen">Now you see me</p>
			</div>
			<div id="app-4" class="row">
				<h2>
					Application 4
				</h2>
			    <ol>
					<li v-for="todo in todos">
						{{ todo.text }}
					</li>
                </ol>
			</div>
			<div id="app-5" class="row">
				<h2>
					Application 5
				</h2>
				<p>
					{{ message }}
				</p>
				<button v-on:click="reverseMessage">
					Reverse Message
				</button>
			</div>
			<div id="app-6" class="row">
				<h2>
					Application 6
				</h2>
				<p>
					{{ message }}
				</p>
				<input v-model="message">
			</div>
				<div id="app-7" class="row">
				<h2>
					Application 7
				</h2>
				<ol>
					<!-- Now we provide each todo-item with the todo object    -->
					<!-- it's representing, so that its content can be dynamic -->
					<todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
				</ol>
			</div>
		</div>
		<script src="client.js"></script>
  </body>
</html>
